.mobile-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

  .mobile-option {
    font-size: 24px;
    padding: 12px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


    &:hover{
      background-color: #f4f4f4;
    }

    a {
      display: flex;
      align-items: center;
    }

    .option-icon {
      display: flex;
      align-items: center;
    }
  }
}

.drawer {
  width: 250px;
  //padding: 18px 12px;
  transition: 0.5s;
}
